.center {
    margin: auto
}

.btn {
    /* display: block; */
    margin: 8px;
    width: 120px;
}

.btn:hover {
    color: #a1a1a1;
}

/* .pane {
  padding: 10px;
  border: 4px solid #000000;
  width: 100%;
  height: 100%;
} */

/* Border around the radar */
#mapid {
    width: 1800;
    height: 640px;
    border: 1px solid white;
    margin: 0;
    padding: 0 4px 0;
}

.container {
    max-width: 1280px;
}
/* Background color */
body {
    background-color: dimgray;
    color: #fff;
}

.container {
    margin-top: 20px
}

.nomarg {
    margin: 0;
}

.radar-settings {
    height: 310px;
    background-color: transparent;
    padding: 10px;
    width: 100%;
    margin: 0 0 20px 0;

}

.radar-settings > span {
    margin: 10px;
    padding: 0;
}

/* Container for keyboard area */
.console-container {
    width: 100%;
    background-color: #fff;
    margin: 10px 0 0 0;
    border: 1px solid black;
    vertical-align: center;
}

.console {
    width: 980px;
    background-color: #000;
    height: 45px;
    color: #fff;
}

.console-container > button {
    background-color: #515151;
    border-radius: 0;
    background-color: transparent;
    border: 1px solid black;
    color: #000;
    font-size: 20px;
}

span > * {
    display: inline-block;
}

span > p {
    margin: 10px;
    color: white;
    font-size: 18px;
}

.simulation-controls {
    width: 100%;
}

.simulation-controls > button {
    width: 60px;
    margin: 10px 2px 0 0;
    font-size: 14px;
    padding: 0;
    background-color: transparent;
    border-radius: 0;
    border: 1px solid #fff;
    color: white;
}

#simulation-speed {
    direction: rtl;
}

.simulation-speed-buttons button {
    width: 40px;
    margin: 10px 5px 0 0;
    padding: 0;
    justify-content: center;
    background-color: transparent;
    border-radius: 0;
    border: 1px solid #fff;
    color: white;
}

.right-container {
    text-align: center;
}

.tac {
    text-align: center;
}

.flight-actions {
    width: 100%;
}

.flight-actions button {
    width: 100%;
    margin: 10px 0 0;
    padding: 0;
    background-color: transparent;
    border-radius: 0;
    border: 1px solid #fff;
    color: white;
    display: block;
}

.list-group {
    max-height: 210px;
    margin-bottom: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    background-color: #c1c1c1;
}

.list-group-item {
    background-color: #fff;
    border-radius: 0;
    padding: 2px 8px 2px;
    background-color: #2C2C2C;
    color: #fff;
    border: 1px solid #fff;
    overflow: hidden;
    width: 100%;
    flex: none;
    max-height: 50px;
}

.active-flights-container {
    background-color: #2C2C2C;
    border: 3px solid white;
    padding: 6px;
    width: 200px;
}

#selected {

}

.list-group-item:hover {
    background-color: #777;
    color: #fff;
    text-decoration: none;
}

.list-group-item.active {
    background-color: #777;
    /* border-radius: 0;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: 1px solid #fff;
    overflow-x: hidden;
    width: 100%; */
}

.list-group-item:focus {
    color: #fff;
    text-decoration: none;
    background-color: #777;
}

.controls {
    width: 100%;
    margin: 0;
}

.simulation-time {
    width: 100%;
    margin-top: 10px;
}

.simulation-clock {
    /* border: 1px solid #fff;   */
    padding: 2px 10px;
    color: #fff;
    width: 65%;
    margin: 0;
}

.clearfix {
    clear: both;
}

.hidden {
    display: none;
}

.active-flights {
    height: 310px;
    margin: 60px 0 0 0;
    background-color: transparent;
    padding: 10px;
    width: 100%;
    margin: 100;
}

.flight-info {
    background-color: #2C2C2C;
    border: 3px solid white;
    height: 280px;
    margin: 60px 0 0 0;
    padding: 0;
    width: 100%;

}

.callsign-info > p {
    font-size: 16px;
}

.selected-info {
    background-color: transparent;
    height: 280px;
    margin: 6px;
}

/* Border around airport type */
.airport-filters-container {
    background-color: #2C2C2C;
    border: 3px solid white;
    padding: 6px;
    width: 200px;
}

.airport-filters-container span {
    margin: 0 2px 20px;
    display: block
}

.selected-info span {
    display: block;
    width: 100%;
}

.keyboard-button {
    width: 80px;
    height: 50px;
    font-size: 15px;
}

#on-screen-keyboard tr td button {
    font-weight: bold;
}

.left-container {
    padding: 0;
}

.right-container {
    padding: 0;
}

.leaflet-popup {
    margin-left: 62px;

}

.leaflet-popup-content-wrapper {
    background-color: #00000000;
}

.leaflet-popup-content {
    color: aqua;
}

.leaflet-popup-tip-container {
    display: none;
}

.leaflet-popup-close-button {
    display: none;
}

.leaflet-popup-content-wrapper {
    box-shadow: none;
}

.popup-callsign-container {
    width: 50px;
    height: 80px;
    margin-bottom: -58px;
}

.popup-callsign-left {
    margin: 16px 0 0 0;
    padding: 0;
    display: inline-block;
    text-align: right;
    width: 20%;
    font-size: 10px;
}

.popup-callsign-right {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 74%;
    text-align: left;
    vertical-align: middle;
    font-size: 10px;
}

.popup-callsign-right > p {
    margin: 0;
    padding: 0;
    font-size: 10px;
}

.stat-label p {
    font-size: 10px;
    margin: 0;
}

.leaflet-tooltip {
    border: none;
    background-color: #00000000;
    color: white;
    box-shadow: none;
    margin-left: 64px;
}

.leaflet-tooltip-top::before {
    display: none;
}

div.leaflet-tooltip {
    margin-left: 36px;
}